extends ../layouts/application.pug

block header
  = task.name

block content
  .row
    .col-12.col-md-8.order-2.order-md-1
      if task.description
        .mb-3= task.description
    .col-12.col-md-4.order-1.order-md-2.mb-3.mb-md-0
      .mb-2
        span.me-1.badge.bg-secondary= task.status.name
        each label in task.labels
          span.me-1.badge.bg-info= label.name
      .mb-2
        span.me-2= t('views.tasks.author')
        span= task.creator.name
      if task.executor
        .mb-2
          span.me-2= t('views.tasks.executor')
          span= task.executor.name
      .mb-3
        span.me-2= t('views.tasks.createdAt')
        span= formatDate(task.createdAt)
      .d-flex
        a.btn.btn-primary.me-1(href=route('editTask', { id: task.id }))= t('views.tasks.edit.link')
        form(action=route('updateTask', { id: task.id }) method='post')
          input(name='_method' type='hidden' value='DELETE')
          input.btn.btn-danger(type='submit' value=t('views.tasks.delete.link'))
